.padding {
    width:80%;
    height:40%;
    padding: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.node:hover{
    stroke-width: 7px !important;
    opacity: 1 !important;
  }

  /* body {background-color: coral;} */